body{
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
}

#display-img {
    max-width: 32px;
}

#viewArea {
    background-color: bisque;

    padding: 50px;

    border-radius: 10%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }

    .search-Form{
        display: grid;
        grid-row-gap: 10px;
    }
}